* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.game-table {
  border-collapse: collapse;
  border: 3px solid gold;
}

.game-table-cell {
  width: 15px;
  height: 15px;
  border: 1px solid gold;
}

.snake-cell {
  background-color: goldenrod;
}

.food-cell {
  background-color: green;
}

.wall-cell {
  background-color: darkred;
}

.game-controls {
  padding: 15px;
}

button {
  padding: 3px 6px;
  border: 1px solid darkgoldenrod;
  background-color: white;
  color: darkgoldenrod;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: palegoldenrod;
}