button {
  width: 65px;
}

textarea {
  width: 317px;
  height: 110px;
}

.contacts {
  label {
    width: 130px;
    display: inline-block;
    margin: 6px;
  }
}

.false {
  outline: none;
  border: 2px solid red;
}

.messageWrong {
  display: inline-block;
  animation: appearing 1s ease-in-out;

  //margin-left: 15px;
  div {
    display: inline-block;
  }
  .messageWrong_triangle {
    border: 7px solid transparent;	border-right: 12px solid green;
  }
  .messageWrong_text {
    background-color: gold;
  }
  @keyframes appearing {
    from {opacity: 0}
    to {opacity: 100}
  }
}

.hidden {
   display: none;
 }

#city_input_form {
  position: relative;
  #city_list {
    position: absolute;
    top: 27px;
    left: 146px;
  }
  #city_input {
    text-transform: capitalize;
    outline: none;
    &:active {
      outline: none;
    }
  }
}

.wrong_input {
  position: relative;
  input {
    border: 1px solid red;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 20px;
    top: 6px;
    left: 53%;
    background-color: indianred;
    box-shadow: 0 0 10px #000000;
    width: 20px;
    height: 20px;
    opacity: 1;
    animation: appears 1s ease;
  }
  &:after {
    content: 'Only russian letters!';
    position: absolute;
    border-radius: 6px;
    top: 6px;
    left: 343px;
    background-color: indianred;
    opacity: 0.8;
    animation: appears 1s ease;
  }
  @keyframes appears {
    0% {opacity: 0}
    20% {opacity: 1}
    100% {opacity: 0.5}
  }
}

.wrong_city {
  @extend .wrong_input;
  &:after {
    content: 'No such city in data-base!';
  }
}

.loader {
  display: none;
}
.container {
  position: absolute;
  left: 309px;
  top: 15px;
  height: auto;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.container span {
  position: absolute;
  height: 22px;
  width: 4px;
  background: #333;
}
#cog-0 {
  position: absolute;
  transform: rotate(0deg);
}
#cog-45 {
  position: absolute;
  transform: rotate(45deg);
}
#cog-90{
  position: absolute;
  transform: rotate(90deg);
}
#cog-135{
  position: absolute;
  transform: rotate(135deg);
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
