/* Стили для отображения вкладок */

ul.tabNav {
  list-style: none;
  margin: 0 0 -2px;
  padding: 0;
}

ul.tabNav li {
  display: inline;
}

ul.tabNav li a {
  padding: 3px 9px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 5px 5px 0 0;
}

ul.tabNav li a.selected,
ul.tabNav li a.selected:hover {
  background: #a2ff8b;
  color: #000;
  border-bottom: none;
}

ul.tabNav li a:hover {
  background: #ccc;
  color: #000;
}

ul.tabNav li a:focus {
  outline: 0;
}

div#tabs div {
  padding: 5px;
  margin-top: 3px;
  border: 2px solid #000;
  background: #a2ff8b;
  border-radius: 0 0 5px 5px;
}